services:
  postgres:
    image: postgres:15
    container_name: pg_payment_gateway
    environment:
      POSTGRES_DB: payment_gateway
      POSTGRES_USER: gateway_user
      POSTGRES_PASSWORD: gateway_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: payment_backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  frontend:
    build: ./payment-frontend
    container_name: payment_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  pgdata:
